/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  /* border: 2px solid #DF0B0B; */
  /* alignment property */
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
    width:calc(50vw - 42px);
    height:200px;
    display: inline-block;
    margin: 0px 20px 20px 20px;
    background: #DED6D3;
    /* border: 2px solid #269324; */
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    width: calc(100vw - 40);
    height: 200px;
    margin: 0px 20px 20px 20px;
    background: #DED6D3;
    /* border: 2px solid #330FE8; */
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    width:calc(100vw - 40);
    height:500px;
    margin:20px;
    background: #DED6D3;
    /* border: 2px solid #E7F905; */
}


